.plx{
    background: url('./fondo1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-about{
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}
.description-about{
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 300;
    font-size: 1.5rem;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.media{
    padding-top: 10px;
    padding-bottom: 10px;
}

.video{
    width: 100%;
}

@media only screen and (min-width: 1200px){
    .video{
        height: 720px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    .video{
        height: 620px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .video{
        height: 460px;
    }
}

@media only screen and (max-width: 767px){
    .video{
        height: 320px;
    }
}